* {
	outline: none;
}
body {
	margin: 0;
	width: 100%;
	background: #fff;
}
header { 
	position: relative;
	width: 1023px;
	margin: 0 auto;
	padding: 0;
	height: 116px;
}
header a {
	text-decoration: none;
}
.logo {
	margin: 0;
	position: absolute;
	top: 46px;
	display: block;
	cursor: pointer;
	color: #ee8129;
	font-family: "Poiret One", sans-serif;
	font-size: 36px;
	float: left;
}
.logo span {
	color: #3070a8;
	font-weight: bold;
	text-transform: uppercase;
}
.navi {
	padding: 0;
	margin: 66px 0 0 462px;
	position: absolute;
	list-style: none;
}
.navi li {
	display: inline-block;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}
.navi li a {
	padding: 0 20px 36px 20px;
	display: block;
	cursor: pointer;
	color: #cccccc;
}
.navi li a:hover {
	color: #477caf;
	border-bottom: 3px solid #3070a8;
}
.baner {
	margin: 8px 0 0 0;
	padding: 0;
	width: 100%;
	height: 584px;
	background-color: #3070a8;
	background: url(../images/baner.png) no-repeat center;
	background-size: cover;
}
.baner_content {
	width: 1023px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    color: #fff;
}
.before_h1 {
	font-size: 36px;
	font-weight: 300;
	font-family: "Futura BK BT", sans-serif;
	line-height: 0.5em;
}
h1 {
	font-size: 48px;
	font-weight: 600;
	font-family: "Futura MD BT", sans-serif;
	line-height: 1.2em;
	text-transform: uppercase;
}
.after_h1 {
	margin: 0 auto;
	width: 590px;
	font-size: 20px;
	font-family: Calibri, sans-serif;
	font-style: italic;
}
.baner_content button {
	margin-top: 44px;
	width: 245px;
	height: 57px;
	border: 1px solid #96a7ba;
	background-color: transparent;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
.services {
	padding: 0;
	width: 1023px;
	text-align: center;
	margin: 0 auto;
}
h2 {
	margin: 0;
	padding: 68px 0;
	color: #41525c;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.services_logo {
	margin: 0;
	padding: 0;
}
.services_logo li {
	margin: 0 97px;
	display: inline-block;
	width: 143px;
	height: 143px;
	background: url(../images/services.png);
}
.services_logo .services_logo_1 {
	background-position: -28px 0px;
}
.services_logo .services_logo_2 {
	background-position: -228px 0px;
}
.services_logo .services_logo_3 {
	background-position: -420px 0px;
}
.services_content_group > div {
	margin: 0;
	padding: 0;
	width: 33.3%;
	height: 200px;
	float: left;
}
.services_content_group div h3 {
	font-weight: 600;
	font-family: "Futura BK BT", sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	color: #3070a8;
}
.services_content_group div p {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	line-height: 25px;
	padding: 0 29px
}
.about {
	margin: 282px 0 0 0;
	height: 577px;
	background-color: #212528;
	background: url(../images/bg_about.png) no-repeat center;
	background-size: cover;
}
.about_content {
	width: 1023px;
	margin: 0 auto;
	padding: 0;
}
.about_content h3 {
	margin: 0;
	padding-top: 89px;
	width: 70%;
	font-family: "Futura BK BT" sans-serif;
	font-size: 26px;
	font-weight: 600;
	color: #ee8129;
	text-transform: uppercase;
	line-height: 48px;
}
.about_content p {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 19px;
	font-style: italic;
	font-weight: 400;
	color: #fff;
}
.about_list {
	margin: 40px 0 0 0;
	width: 70%;
	color: #9d9d9d;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}
.about_list li {
	margin-bottom: 28px;
}
.pricing {
	margin: 0 auto;
	padding: 0;
	width: 1023px;
}
.pricing_title {
	margin: 0;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #41525c;
}
.pricing_1 {
	background: #fff;
	width: 288px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #e8eaec;
}
.pricing_2 {
	background: #fff;
	width: 288px;
	border: 4px solid;
	border-color: #ee8115;
	border-radius: 5px;
	box-shadow: 0 0 13px #0874b2;
}
.pricing_3 {
	background: #fff;
	width: 288px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #e8eaec;
}
.pricing_header_1 {
	margin: 0;
	width: 288px;
	background: #2bc2d5;
	padding-top: 28px;
	padding-bottom: 28px;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-family: "Futura MD BT", sans-serif;
}
.pricing_header_2 {
	margin: 0;
	width: 288px;
	background: #ee8115;
	padding-top: 28px;
	padding-bottom: 28px;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-family: "Futura MD BT", sans-serif;
}
.pricing_header_3 {
	margin: 0;
	width: 288px;
	background: #00b89a;
	padding-top: 28px;
	padding-bottom: 28px;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-family: "Futura MD BT", sans-serif;
}
.content h3 {
	margin: 0;
	width: 288px;
	padding: 24px 0;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	color: #3f4042;
	font-weight: normal;
	font-family: "Futura MD BT", sans-serif;
}
.price {
	font-family: "Futura MD BT", sans-serif;
	position: relative;
	left: 15px;
	margin: 0;
	text-align: center;
	font-size: 72px;
	font-weight: bold;
	padding-bottom: 40px;
	color: #35495a;

}
.price:before {
	position: relative;
	top: -38px;
	left: 3px;
	right: 0;
	content: "$";
	font-size: 36px;
	font-weight: normal;
}
.price:after {
	position: relative;
	content: "Monthly";
	font-size: 18px;
	font-weight: normal;
}
.content ul {
	padding: 14px;
	font-family: Calibri, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #888c94;
}
.content ul li {
	list-style: none;
	width: 255px;
	padding: 11px 0 11px 5px;
	margin-bottom: 2px;
}
.content ul li:nth-child(odd) {
	background: #edf5fd;
}
.content ul li:nth-child(even) {
	background: #f5f5f6;
}
.content ul li:before {
	padding: 14px 41px 0px 0px;
	content: "";
	background-image: url(../images/Shape.png);
}
.pricing_button_1 {
	margin: 18px auto 30px;
	background-color: #3070a8;
	border-radius: 5px;
	padding: 14px 0px;
	text-align: center;
	width: 250px;
	box-shadow: 0 3px 0 #13426b;  
}
.pricing_button_1 a {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}
.pricing_button_1:hover {
	background-color: #13426b;
}
.pricing_button_2 {
	margin: 18px auto 30px;
	background-color: #ee8129;
	border-radius: 5px;
	padding: 14px 0px;
	text-align: center;
	width: 250px;
	box-shadow: 0 3px 0 #b3560b;  
}
.pricing_button_2 a {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}
.pricing_button_2:hover {
	background-color: #b3560b;
}
.pricing_button_3 {
	margin: 18px auto 30px;
	background-color: #3070a8;
	border-radius: 5px;
	padding: 14px 0px;
	text-align: center;
	width: 250px;
	box-shadow: 0 3px 0 #13426b;  
}
.pricing_button_3 a {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}
.pricing_button_3:hover {
	background-color: #13426b;
}