* {
	margin: 0;
	padding: 0;
}
.tabs {
	margin: 0 auto;
	width: 300px;
	border:	1px solid #D7D0D0;
	border-radius: 5px;

}
.tabs_header {
	background-color: #C2C2C2;
	margin: 2px;
	padding-left: 15px;
	font: 14px/14px  arial ;
	color: #919191;
	border-radius: 3px;
}
.tabs_items {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline-block;
	padding: 5px;
	background-color: #ddd;
	cursor: pointer; 
}
.tabs_items_selected {
	border-left: 1px solid #4D4D4D;
	border-right: 1px solid #4D4D4D;
	border-top: 1px solid #4D4D4D;
	background-color: #fff;
	color: #000;	
}
.tabs_content {
	display: none;
	padding: 15px;

}
.tabs_content_selected {
	display: block;
}
.form { 
	margin:30px auto; 
	width: 600px;
	border: 2px solid #D7D0D0;
	border-radius: 5px;
}
.form_wrapper {
	width: 295px;
	padding: 10px 0 10px 5px;
	
}
.advise_wrapper {
	width: 295px;
	
}
.form_items {
	/*float: left;*/
	display: inline-block;
}
.form_field {
	padding-bottom: 16px; 
}
.advice_item {
	width: 205px;
	margin-bottom: 8px;
	padding: 5px 5px;
	box-shadow: 0 0 7px #8F85D1;
	font-size: 14px;
	display: none;
}
.form_field_firstname {
	margin-left: 30px;
}
.form_field_last_name {
	margin-left: 32px;
}
.form_field_mail{
	margin-left: 54px;
}
.button {
	margin-left: 162px;
    margin-bottom: 10px;
}
.advice_item_1 {
	position: fixed;
	top: 315px;

}
.advice_item_2 {
	position: fixed;
	top: 351px;
	
}
.advice_item_3 {
	position: fixed;
	top: 386px;
	
}